@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.container a{
    text-decoration: none;
    color: black;
}

.container p{
    padding:15px;
}

.logo{
    display: inline-block;
}

.logo a{
    font-size: 40px;
    padding: 5px;
    float:right;
}

.logo a:hover{
    color: burlywood;
    font-style:oblique;
    font-weight: bolder;
    
}

.logo img{
    width: 64px;
    height: 64px;
}

nav{
    float: right;
    padding: 10px;
}

nav li{
    display: inline-block;
    padding:15px;
}

nav li a:hover{
    color: burlywood;
    font-style:oblique;
}

.dropdown{
    background-color: white;
}

.dropdown a:hover{
    font-weight: bold;
    font-style:normal;
}

ul li ul{
    visibility: hidden;
    position:absolute;
    transition: all 0.5s ease;
    display:none;
}

ul li:hover > ul,
ul li ul:hover{
    visibility: visible;
    display:block;
    float: right;
    opacity: 2;

}

ul li ul li{
    clear:both;
    width: 100%;
}

.principal{
    background-image: url(../img/principal.jpg);
    width:100%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: white;
    text-shadow: #333333 2px 0 10px;
}

.principal h1{
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: #333333 2px 0 7px;
}
.principal p{
    font-size: 1.2em;
    margin-bottom: 30px;
    padding: 10px;
    margin: 10px 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.section{
    padding: 60px 0;
}
.section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}
.section p{
    text-align: center;
}

.contenido{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;

}
#nosotros{
    background-color: bisque;
}
#servicios{
    background-color:darkseagreen;
    height:auto;
}
#productos{
    background-color: dodgerblue;
}
#servicios p{
    width:50%;
    float: left;
    padding: 15px;
}

#servicios img{

    height:50%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
#servicios img:hover{
    transform: scale(1.05);

}


.box{
    width:25%;
    max-width: 500px;
    aspect-ratio: 1/1;
    background-color: blueviolet;
    margin:1.25rem;
    display:inline-block;
    transition: transform 0.3s ease;
    text-align: center;
    align-content:normal;
    padding:20px;
}

.box img{
    width:125px;
    height:125px;
}

.box:hover{
    transform: scale(1.05)
}

.contacto{
    padding:70px;
}

.contacto p{
    padding:10px;
}

.contacto h2,p{
    text-align: center;
    padding:10px;
}

.contacto form{
    display: flex;
    flex-direction:column;
}

.contacto input, .contacto textarea{
    margin-bottom: 15px;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.contact label{
    text-align: right;
}
.contact button{
    align-self:normal;
    padding:20px;
}

.btn{
    background-color: dodgerblue;
    width:30%;
    color: white;
    padding: 10px 20px;
    margin:10px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.btn:hover{
    transform: scale(0.8);
    border-radius: 10px;
}


.footer{
    background-color: #666;
    color:white;
    padding: 20px;
    text-align: center;

}
